<div class="card tagListingTable">
    <p-table #dt1
             dataKey="id"
             [value]="categories"
             [rows]="1000"
             [loading]="loading"
             sortMode="multiple"
             [rowHover]="true"
             [showGridlines]="true"
             [filters]="filters"
             [paginator]="false"
             [globalFilterFields]="['id', 'name']"
             responsiveLayout="scroll"
             [multiSortMeta]="multiSortMeta">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row gap-2">
                <div class="flex flex-col justify-items-start">
                    <p class="font-semibold text-xl mb-4">Categories List</p>
                </div>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input #filter pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                    <p-button class="p-button-outlined mb-2 " icon="pi pi-filter-slash"
                              (click)="clear(dt1)"></p-button>
                </p-iconfield>

                <p-button label="Create new category" class="p-button-link"
                          (click)="this.router.navigate(['/categories', 'new'])" />
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 3rem" pSortableColumn="id">
                    <div class="flex justify-between items-center">
                        ID <p-sortIcon field="id" />
                    </div>
                </th>
                <th style="min-width: 15rem" pSortableColumn="name">
                    <div class="flex justify-between items-center">
                        Name <p-sortIcon field="name" />
                    </div>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="numeric" showAddButton="false" showMatchModes="false" field="id"
                                    showMenu="true"
                                    placeholder="ID" ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="name" matchMode="in" [showMenu]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-multiselect appendTo="body" [filter]="true" [(ngModel)]="value"
                                           [options]="categories"
                                           field="name"
                                           maxSelectedLabels="1"
                                           optionLabel="name" optionValue="name" (onChange)="filter($event.value)"
                                           placeholder="Select" [showClear]="false">
                            </p-multiselect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-accountItem>
            <tr>
                <td>
                    <a [href]="getDetailsUrl(accountItem)" [routerLink]="getDetailsUrl(accountItem)">
                        {{ accountItem.id }}
                    </a>
                </td>
                <td>
                    <a [href]="getDetailsUrl(accountItem)" [routerLink]="getDetailsUrl(accountItem)">
                        {{ accountItem.name }}
                    </a>
                </td>
                <td>
                    <p-button icon="pi pi-pencil"
                              (onClick)="this.router.navigate(['/', 'categories', 'edit', accountItem.id])"
                              severity="secondary" [rounded]="true" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No categories found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading categories data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
