<!--suppress TypeScriptValidateTypes -->
<script src="../accounts/accounts-import.component.ts"></script>
<script src="transactions-list.component.ts"></script>
<p-fluid>
    <div class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Base fields</div>
                <div class="flex flex-col gap-2">
                    <label for="accountName">Title</label>
                    <input pInputText id="accountName" type="text" [(ngModel)]="transaction.title" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="currency">Type</label>
                    <p-dropdown
                        [options]="transactionTypes"
                        [(ngModel)]="transaction.type"
                        [filter]="true"
                        (onChange)="onTransactionTypeChange($event)"
                        filterBy="name"
                        optionLabel="name"
                        optionValue="value"
                        placeholder="Select transaction type" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="currency">Source Account</label>
                    <p-dropdown
                        [options]="accounts"
                        [(ngModel)]="transaction.sourceAccountId"
                        [filter]="true"
                        [disabled]="!isSourceAccountActive()"
                        (onChange)="onSourceAccountChange($event)"
                        filterBy="account.name"
                        optionLabel="account.name"
                        optionValue="account.id"
                        placeholder="Select source account" />

                    <p-inputgroup>
                        <p-inputgroup-addon>-</p-inputgroup-addon>
                        <p-inputnumber [(ngModel)]="transaction.sourceAmount" placeholder="Price"/>
                        <p-inputgroup-addon>{{transaction.sourceCurrency}}</p-inputgroup-addon>
                    </p-inputgroup>
                </div>

                <div class="flex flex-col gap-2" *ngIf="isForeignCurrencyActive()">
                    <label for="currency">Foreign Currency</label>
                    <p-dropdown
                        [options]="currencies"
                        [(ngModel)]="transaction.destinationCurrency"
                        [filter]="true"
                        filterBy="id"
                        optionLabel="id"
                        optionValue="id"
                        placeholder="Select foreign currency" />
                    <p-inputgroup>
                        <p-inputgroup-addon>-</p-inputgroup-addon>
                        <p-inputnumber [(ngModel)]="transaction.destinationAmount" placeholder="Amount"/>
                        <p-inputgroup-addon>{{transaction.destinationCurrency}}</p-inputgroup-addon>
                    </p-inputgroup>
                </div>

                <div class="flex flex-col gap-2" *ngIf="isDestinationAccountActive()">
                    <label for="currency">Destination Account</label>
                    <p-dropdown
                        [options]="accounts"
                        [(ngModel)]="transaction.destinationAccountId"
                        [filter]="true"
                        [disabled]="!isDestinationAccountActive()"
                        (onChange)="onDestinationAccountChange($event)"
                        filterBy="account.name"
                        optionLabel="account.name"
                        optionValue="account.id"
                        placeholder="Select destination account" />

                    <p-iftalabel>
                        <input pInputText id="destValue" [(ngModel)]="transaction.destinationAmount" autocomplete="off" />
                        <label for="destValue">{{transaction.destinationCurrency}}</label>
                    </p-iftalabel>
                </div>

                <div class="flex flex-col gap-2">
                    <label>Date</label>
                    <p-datepicker [(ngModel)]="transaction.transactionDate" [hourFormat]="'24'" [showTime]="true"></p-datepicker>
                </div>
                <div class="flex flex-col gap-2">
                    <label>Notes</label>
                    <textarea rows="5" cols="30" [(ngModel)]="transaction.notes" pTextarea [autoResize]="true"></textarea>
                </div>
                <div class="flex flex-col gap-2">
                    <label>Labels</label>
                    <p-multiselect [options]="labels" [(ngModel)]="transaction.labelIds" placeholder="Select Tags" optionLabel="name" optionValue="value" display="chip" styleClass="w-full md:w-80"></p-multiselect>
                </div>
            </div>
        </div>
    </div>
    <!--        <div class="md:w-1/2">-->
    <!--            <div class="card flex flex-col gap-4">-->
    <!--                <div class="font-semibold text-xl">Other</div>-->
    <!--                <div class="flex flex-wrap gap-2">-->
    <!--                    <label for="iban">IBAN</label>-->
    <!--                    <input pInputText [(ngModel)]="account.iban" id="iban" type="text" />-->
    <!--                </div>-->
    <!--                <div class="flex flex-wrap gap-2">-->
    <!--                    <label for="iban">Account Number</label>-->
    <!--                    <input pInputText [(ngModel)]="account.accountNumber" id="iban" type="text" />-->
    <!--                </div>-->
    <!--                <div class="flex flex-col gap-2" *ngIf="account.type == AccountType.LIABILITY">-->
    <!--                    <label for="liability">Liability (percent)</label>-->
    <!--                    <input pInputText [(ngModel)]="account.liabilityPercent" id="liability" type="number" />-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="flex mt-8">-->
    <!--        <div class="card flex flex-col gap-6 w-full">-->
    <!--            <div class="font-semibold text-xl">Advanced</div>-->
    <!--            <div class="flex flex-wrap">-->
    <!--                <label for="note">Note</label>-->
    <!--                <textarea pTextarea [(ngModel)]="account.note" id="note" type="text"></textarea>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="flex mt-8">
                <div class="card flex flex-wrap gap-6 w-full justify-end">
                    <p-button *ngIf="!isEdit" label="Create" [fluid]="false" (click)="create()"></p-button>
                    <p-button *ngIf="isEdit" label="Update" [fluid]="false" (click)="update()"></p-button>
                </div>
    </div>
</p-fluid>
<p-toast />
