<!--suppress TypeScriptValidateTypes -->
<script src="../../shared/components/transactions-table/transactions-table.component.ts"></script>
<p-fluid>
    <div class="flex flex-col card gap-4">
        <div class="flex flex-row">
            <div class="font-semibold text-xl">{{ getTitle() }}</div>
        </div>
        <div class="flex flex-col w-full">
            <p-selectbutton size="small" styleClass="w-full" [options]="transactionTypes"
                            [(ngModel)]="transaction.type" optionLabel="name" (onChange)="onTransactionTypeChange()"
                            optionValue="value">
                <ng-template #item let-item>
                    <div class="flex flex-col items-center gap-4">
                        <i [class]="item.icon"></i>
                        <label>{{ item.name }}</label>
                    </div>
                </ng-template>
            </p-selectbutton>
        </div>

        <div class="flex gap-4">
            <div class="flex flex-col w-1/2">
                <div class="flex flex-col gap-2">
                    <label for="currency">Source Account *</label>
                    <p-dropdown
                        [options]="accounts"
                        [(ngModel)]="transaction.sourceAccountId"
                        [filter]="true"
                        [disabled]="!isSourceAccountActive()"
                        (onChange)="onSourceAccountChange($event)"
                        filterBy="account.name"
                        optionLabel="account.name"
                        optionValue="account.id"
                        placeholder="Select source account"
                        [ngClass]="{'ng-invalid': showValidation && !transaction.sourceAccountId && isSourceAccountActive()}"
                    />
                    <div *ngIf="showValidation && !transaction.sourceAccountId && isSourceAccountActive()"
                         class="text-red-500 text-xs">Source account is required.
                    </div>

                    <p-inputgroup>
                        <p-inputnumber [disabled]="!isSourceAccountActive()" [(ngModel)]="transaction.sourceAmount"
                                       placeholder="Amount *"
                                       [ngClass]="{'ng-invalid': showValidation && !transaction.sourceAmount && isSourceAccountActive()}"
                        ></p-inputnumber>
                        <p-inputgroup-addon [style]="{'color': 'deepskyblue'}">{{ transaction.sourceCurrency }}
                        </p-inputgroup-addon>
                    </p-inputgroup>
                    <div *ngIf="showValidation && !transaction.sourceAmount && isSourceAccountActive()"
                         class="text-red-500 text-xs">Amount is required.
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-1/2" *ngIf="isForeignCurrencyActive()">
                <div class="flex flex-col gap-2">
                    <label for="currency">Foreign Currency (optional)</label>
                    <p-dropdown
                        [options]="currencies"
                        [(ngModel)]="transaction.destinationCurrency"
                        [filter]="true"
                        filterBy="id"
                        optionLabel="id"
                        optionValue="id"
                        placeholder="Select foreign currency" />
                    <div class="flex gap-2">
                        <p-inputgroup>
                            <p-inputnumber [(ngModel)]="transaction.destinationAmount"
                                           placeholder="Amount"></p-inputnumber>
                            <p-inputgroup-addon
                                [style]="{'color': 'deepskyblue'}">{{ transaction.destinationCurrency }}
                            </p-inputgroup-addon>
                        </p-inputgroup>
                        <p-button [disabled]="!canConvertAmount()" severity="info" label="Convert" icon="pi pi-search"
                                  iconPos="left" (onClick)="convertAmount()" />
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2 w-1/2" *ngIf="isDestinationAccountActive()">
                <label for="currency">Destination Account *</label>
                <p-dropdown
                    [options]="accounts"
                    [(ngModel)]="transaction.destinationAccountId"
                    [filter]="true"
                    [disabled]="!isDestinationAccountActive()"
                    (onChange)="onDestinationAccountChange($event)"
                    filterBy="account.name"
                    optionLabel="account.name"
                    optionValue="account.id"
                    placeholder="Select destination account"
                    [ngClass]="{'ng-invalid': showValidation && !transaction.destinationAccountId && isDestinationAccountActive()}"
                />
                <div *ngIf="showValidation && !transaction.destinationAccountId && isDestinationAccountActive()"
                     class="text-red-500 text-xs">Destination account is required.
                </div>

                <p-inputgroup>
                    <p-inputnumber [(ngModel)]="transaction.destinationAmount" placeholder="Amount *"
                                   [ngClass]="{'ng-invalid': showValidation && !transaction.destinationAmount && isDestinationAccountActive()}"
                    ></p-inputnumber>
                    <p-inputgroup-addon [style]="{'color': 'deepskyblue'}">{{ transaction.destinationCurrency }}
                    </p-inputgroup-addon>
                </p-inputgroup>
                <div *ngIf="showValidation && !transaction.destinationAmount && isDestinationAccountActive()"
                     class="text-red-500 text-xs">Amount is required.
                </div>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="flex flex-col gap-4 w-1/2">
                <div class="flex flex-col gap-2">
                    <label for="accountName">Transaction title *</label>
                    <input pInputText id="accountName" type="text" [(ngModel)]="transaction.title" required
                           [ngClass]="{'ng-invalid': showValidation && !transaction.title}"
                    />
                    <div *ngIf="showValidation && !transaction.title" class="text-red-500 text-xs">Title is required.
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 w-1/2">
                <div class="flex flex-col gap-2">
                    <label>Date *</label>
                    <p-datepicker [(ngModel)]="transactionDate" [hourFormat]="'24'" [showTime]="true"
                                  [ngClass]="{'ng-invalid': showValidation && !transactionDate}"></p-datepicker>
                    <div *ngIf="showValidation && !transactionDate" class="text-red-500 text-xs">Date is required.</div>
                </div>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="flex flex-col gap-4 w-1/2">
                <div class="flex flex-col gap-2">
                    <label>Tags</label>
                    <p-multiselect [options]="tags" [(ngModel)]="transaction.tagIds" placeholder="Select Tags"
                                   optionLabel="name" optionValue="id" display="chip"
                                   [maxSelectedLabels]="maxSelectedLabels"
                                   styleClass="w-full"></p-multiselect>
                    <div class="flex gap-2 flex-wrap">
                        @for (tag of transaction.tagIds; track tag) {
                            @let tagVal = tagById(tag);
                            @if (tagVal) {
                                <p-chip [label]="tagVal.name" [icon]="tagVal.icon" removable="true"
                                        (onRemove)="removeTag(tagVal.id)" />
                            }
                        }
                    </div>

                </div>
            </div>
            <div class="flex flex-col gap-4 w-1/2">
                <div class="flex flex-col gap-2">
                    <label>Notes</label>
                    <textarea rows="5" cols="30" [(ngModel)]="transaction.notes" pTextarea
                              [autoResize]="true"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!--        <div class="md:w-1/2">-->
    <!--            <div class="card flex flex-col gap-4">-->
    <!--                <div class="font-semibold text-xl">Other</div>-->
    <!--                <div class="flex flex-wrap gap-2">-->
    <!--                    <label for="iban">IBAN</label>-->
    <!--                    <input pInputText [(ngModel)]="account.iban" id="iban" type="text" />-->
    <!--                </div>-->
    <!--                <div class="flex flex-wrap gap-2">-->
    <!--                    <label for="iban">Account Number</label>-->
    <!--                    <input pInputText [(ngModel)]="account.accountNumber" id="iban" type="text" />-->
    <!--                </div>-->
    <!--                <div class="flex flex-col gap-2" *ngIf="account.type == AccountType.LIABILITY">-->
    <!--                    <label for="liability">Liability (percent)</label>-->
    <!--                    <input pInputText [(ngModel)]="account.liabilityPercent" id="liability" type="number" />-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="flex mt-8">-->
    <!--        <div class="card flex flex-col gap-6 w-full">-->
    <!--            <div class="font-semibold text-xl">Advanced</div>-->
    <!--            <div class="flex flex-wrap">-->
    <!--                <label for="note">Note</label>-->
    <!--                <textarea pTextarea [(ngModel)]="account.note" id="note" type="text"></textarea>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="flex mt-8">
        <div class="card flex flex-wrap gap-6 w-full" [ngClass]="isEdit ? 'justify-between' : 'justify-end'">
            <div class="flex flex-col w-1/2" *ngIf="isEdit">
                <p-button *ngIf="isEdit" label="Refresh" severity="info" [fluid]="false" (click)="refresh()"></p-button>
            </div>

            <div class="flex flex-col justify-end">
                <p-button *ngIf="!isEdit" label="Create" [fluid]="false" (click)="create()"></p-button>
                <p-button *ngIf="isEdit" label="Update" [fluid]="false" (click)="update()"></p-button>
            </div>

        </div>
    </div>
</p-fluid>
<p-toast />
