<p-dialog header="Reconcile account balance" [modal]="true" [(visible)]="visible" *ngIf="account" (onHide)="onHide()">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
        <span class="p-text-secondary block mb-8">Selected account: {{ account.name }} (#{{ account.id }})</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="balance1" class="font-semibold w-24">Current balance</label>
            <p-inputgroup>
                <p-inputnumber formControlName="currentBalance"
                               readonly="true"
                               placeholder="Amount"></p-inputnumber>
                <p-inputgroup-addon
                    [style]="{'color': 'deepskyblue'}">{{ account.currency }}
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="balance2" class="font-semibold w-24">New balance</label>
            <p-inputgroup>
                <p-inputnumber formControlName="newBalance"
                               mode="decimal"
                               [minFractionDigits]="0" [maxFractionDigits]="5"
                               placeholder="Amount"></p-inputnumber>
                <p-inputgroup-addon
                    [style]="{'color': 'deepskyblue'}">{{ account.currency }}
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="balance2" class="font-semibold w-24">Diff</label>
            <p-inputgroup>
                <p-inputnumber formControlName="difference"
                               placeholder="Difference"></p-inputnumber>
                <p-inputgroup-addon
                    [style]="{'color': 'deepskyblue'}">{{ account.currency }}
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onHide()" />
            <p-button label="Save" (click)="save()" />
        </div>
    </form>
</p-dialog>
