<p-toast />
<p-fluid>

    <div class="flex flex-col gap-8">
        <div class="card flex flex-col gap-4">
            <div class="font-semibold text-xl">Account Importer</div>
            <div class="flex flex-row">
                <p-stepper [value]="1" class="w-full" linear="true" (valueChange)="onValueChange($event)" >
                    <p-step-list>
                        <p-step [value]="1">Get existing accounts</p-step>
                        <p-step [value]="2">Put output</p-step>
                        <p-step [value]="3">Review</p-step>
                    </p-step-list>
                    <p-step-panels>
                        <p-step-panel [value]="1">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col">

                                    <p-card header="Execute following query on firefly db">
                        <pre class="app-code">
                        <code [highlight]="migrationScript" language="pgsql"></code>
                        </pre>
                                    </p-card>
                                </div>
                                <div class="flex pt-6 justify-end">
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                              (onClick)="activateCallback(2)" />
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="2">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col">

                                    <p-card header="Put JSON output">
                        <textarea class="w-full h-full" rows="5" cols="30" pTextarea [(ngModel)]="clientData"
                                  autoResize="true"></textarea>
                                    </p-card>
                                </div>
                                <div class="flex pt-6 justify-between">
                                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                              (onClick)="activateCallback(1)" />
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                              (onClick)="activateCallback(3)" />
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="3">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col">

                                    <p-card header="Review and Import">
                                        <textarea disabled="disabled" rows="5" cols="30" pTextarea [(ngModel)]="reviewText"></textarea>

                                        <p-button label="Import" (onClick)="import()" [disabled]="importDisabled"></p-button>
                                    </p-card>
                                </div>
                                <div class="flex pt-6 justify-start">
                                    <p-button label="Back" icon="pi pi-arrow-left" iconPos="right"
                                              (onClick)="activateCallback(2)"  />
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-panels>
                </p-stepper>

            </div>
        </div>
    </div>
</p-fluid>
