on:
  push:
    branches:
      - master
      - ui

env:
  version: 0.0.0.${{github.run_number}}
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      versionOut: ${{ steps.generateVersion.outputs.version }}
    steps:
      - id: generateVersion
        run: echo "version=0.0.${{ github.run_number }}" >> "$GITHUB_OUTPUT"
  backend:
    runs-on: ubuntu-latest
    needs:
      - version
    env:
      DOCKER_SERVER_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-server:${{needs.version.outputs.versionOut}}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: actions/checkout@v4
      - run: make build-docker
      - run: docker push ${DOCKER_SERVER_IMAGE_NAME}
  frontend:
    runs-on: ubuntu-latest
    container: node:24-alpine
    needs:
      - version
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install and build frontend
        working-directory: frontend
        run: npm install && npm run build
      - uses: actions/upload-artifact@v4
        with:
          compression-level: '6'
          path: frontend/dist/go-money/browser
          overwrite: 'true'
          retention-days: 1
  full:
    runs-on: ubuntu-latest
    needs:
      - backend
      - frontend
    env:
      DOCKER_SERVER_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-server:${{needs.version.outputs.versionOut}}"
      DOCKER_FULL_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-full:${{needs.version.outputs.versionOut}}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: go-money-browser
      - run: ls
      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - run: docker build -f ./ci/Dockerfile.full \
          --build-arg MAIN_IMAGE=${DOCKER_SERVER_IMAGE_NAME} \
          -t ${DOCKER_FULL_IMAGE_NAME} .
      - run: docker push ${DOCKER_SERVER_IMAGE_NAME}
