on:
  push:
    branches:
      - master
      - base-currency-check

env:
  version: 0.0.0.${{github.run_number}}
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      versionOut: ${{ steps.generateVersion.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: paulhatch/semantic-version@v5.4.0
        id: generateVersion
        with:
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          bump_each_commit: true
          enable_prerelease_mode: true
          version_format: "${major}.${minor}.${patch}"
  backend:
    strategy:
      matrix:
        include:
          - arch: linux-amd64
            runner: ubuntu-latest
          - arch: linux-arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    needs:
      - version
    env:
      DOCKER_SERVER_IMAGE_NAME: "ghcr.io/${{ github.repository }}/temp-backend:${{needs.version.outputs.versionOut}}-${{ matrix.arch }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: actions/checkout@v4
      - run: VERSION=${{needs.version.outputs.versionOut}} COMMIT_SHA=${GITHUB_SHA::7} make build-docker
#      - run: docker push ${DOCKER_SERVER_IMAGE_NAME}
  
  backend-multi-arch:
    runs-on: ubuntu-latest
    needs:
      - backend
      - version
    env:
      DOCKER_SERVER_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-server:${{needs.version.outputs.versionOut}}"
      DOCKER_SERVER_TEMP_IMAGE_NAME: "ghcr.io/${{ github.repository }}/temp-backend:${{needs.version.outputs.versionOut}}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create and push manifest
        run: |
          docker manifest create ${DOCKER_SERVER_IMAGE_NAME} \
            --amend ${DOCKER_SERVER_TEMP_IMAGE_NAME}-linux-amd64 \
            --amend ${DOCKER_SERVER_TEMP_IMAGE_NAME}-linux-arm64

          docker manifest push ${DOCKER_SERVER_IMAGE_NAME}

  frontend:
    runs-on: ubuntu-latest
    container: node:24-alpine
    needs:
      - version
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install and build frontend
        working-directory: frontend
        run: npm install && npm run build
      - uses: actions/upload-artifact@v4
        with:
          compression-level: '6'
          path: frontend/dist/go-money
          overwrite: 'true'
          retention-days: 1
          name: 'go-money-browser'

  full:
    strategy:
      matrix:
        include:
          - arch: linux-amd64
            runner: ubuntu-latest
          - arch: linux-arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    needs:
      - backend
      - frontend
      - version
      - backend-multi-arch
    env:
      DOCKER_SERVER_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-server:${{needs.version.outputs.versionOut}}"
      DOCKER_FULL_IMAGE_NAME: "ghcr.io/${{ github.repository }}/temp-full:${{needs.version.outputs.versionOut}}-${{ matrix.arch }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: go-money-browser
      - run: ls
      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - run: docker build -f ./build/Dockerfile.full --build-arg MAIN_IMAGE=${DOCKER_SERVER_IMAGE_NAME} -t ${DOCKER_FULL_IMAGE_NAME}  .
      - run: docker push ${DOCKER_FULL_IMAGE_NAME}

  full-multi-arch:
    runs-on: ubuntu-latest
    needs:
      - full
      - version
    env:
      DOCKER_FULL_IMAGE_NAME: "ghcr.io/${{ github.repository }}/go-money-full"
      DOCKER_FULL_IMAGE_NAME_LATEST: "ghcr.io/${{ github.repository }}/go-money-full:latest"
      
      DOCKER_TEMP_FULL_IMAGE_NAME: "ghcr.io/${{ github.repository }}/temp-full:${{needs.version.outputs.versionOut}}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create and push manifest
        run: |
          TAGS=("${{ needs.version.outputs.versionOut }}" "latest")
          
          for TAG in "${TAGS[@]}"; do
            FULL_TAG="${DOCKER_FULL_IMAGE_NAME}:${TAG}"
          
            docker manifest create "${FULL_TAG}" \
              "${DOCKER_TEMP_FULL_IMAGE_NAME}-linux-amd64" \
              "${DOCKER_TEMP_FULL_IMAGE_NAME}-linux-arm64"
          
            docker manifest push "${FULL_TAG}"
          done
