on:
  push:
    branches:
      - master
      - initial

env:
  version: 0.0.0.${{github.run_number}}
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      versionOut: ${{ steps.generateVersion.outputs.version }}
    steps:
      - id: generateVersion
        run: echo "version=$(date '+%Y.%m.%d.%H%M%S').${{ github.run_number }}" >> "$GITHUB_OUTPUT"
  target-env:
    runs-on: ubuntu-latest
    outputs:
      targetEnv: ${{ steps.getTargetEnvironment.outputs.targetEnv }}
    steps:
      - id: getTargetEnvironment
        run: |
          echo $GITHUB_REF
          echo "${GITHUB_REF##refs/heads/}"
          echo "targetEnv=${GITHUB_REF##refs/heads/}" >> "$GITHUB_OUTPUT"
  image:
    runs-on: ubuntu-latest
    needs:
      - version
    env:
      DOCKER_SERVER_IMAGE_NAME: "go-money-backend:${{needs.version.outputs.versionOut}}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: actions/checkout@v4
      - run: make build-docker
      - run: docker push ${DOCKER_SERVER_IMAGE_NAME}
